* {
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

h4 {
  float: left;
  padding-right: 10px;
  letter-spacing: 2px;
}

.App-header {
  display: flex;
  margin: 0 auto;
  width: 700px;
  height: 400px;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 20px;

}

.App-block {
  margin-top: 10px;
  margin-left: 20px;
}

span {
  color: grey;
  padding: 10px;
}

.App-facebook {
  width: 20px;
  height: 20px;
  margin-top: 0px;
}

.ImageWomen {
  width: 600px;
  height: 300px;
  border-radius: 30px;
  margin-top: 20px;
}